{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container py-5">
  <div class="row rounded shadow-lg py-3 border border-5">

    <div class="col-md-4">
      <img style="width:450px" src="{{object.image.url}}" class="img-fluid" alt="{{object.title}}" />
    </div>

    <div class="col-md-8 d-flex flex-column justify-content-center">
      <h5><b>Train Name</b> : {{object.title}}</h5>
      <h5><b>Description </b>: {{ object.description}}</h5>
      <h5><b>Total Ticket </b>: {{ object.totalTicket}}</h5>
      <h5><b>Ticket Price </b>: {{ object.ticketPrice}} Taka</h5>
      <h4><b>Station : </b>
        {% for cate in object.station.all %}

        <a href="#" class="btn btn-primary btn-sm disabled" role="button" aria-disabled="true"><b>{{cate.name}}</b></a>
        {% endfor %}
        <br>
        {% if user.is_authenticated %}
        <a href="{% url "booking" object.id%}" class="btn btn-warning m-1">Buy Now</a>
        {% endif %}
      </h4><br>


    </div>

  </div>

</div>
<div class="card m-2 w-50">
  <h5 class="p-3">Total Comments : {{comments | length}}</h5>
  {% for comment in comments %}
  <div class="card-body border m-2">
    <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
    <p>{{comment.body}}</p>
  </div>
  {% endfor %}
</div>
<div class="card m-2 w-50">
  <div class="card-body">
    <form method="post">
      <h1>Add Comment</h1>
      {% csrf_token %}
      {{comment_form | crispy}}

      <button class="btn btn-warning">Submit</button>
  </div>
</div>
{% endblock %}